body {
  /* removed sticky nav bar */
}


.list-group-item {
  data-toggle: list;
}
.navbar {
  margin-bottom: 0px;
  border: 1px solid transparent;
}
.jumbotron {
  text-align: center;
/*  background-image: url(assets/martin.jpg); */
  background-image: url(assets/pablo.jpg); 
  width: auto;
  margin-bottom: 0px;
  padding: 10em; /* Make the jumbotron bigger */
/*  background-size: cover; */
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* Icons */
#i-github {
  top: -25%; 
  position: relative; 
}
#i-twitter {
  top: -25%;
  position: relative;
}
#aboutme > h2, p {
  width: 50%;
}
#aboutme > p {
  font-size: 18px;
}
.fade {
  opacity: 100;
}
.col-4 {
  margin-right: 0px;
}
#list-group {
  width: 50%;
}
#projects > h1{
  text-align: center;
}
#aboutme > h1 {
  text-align: center;
}
#contact > h1 {
  text-align: center;
}

